@charset "utf-8";
.container header {
	background-color: #FFC600;
}
.container header nav {
	background-color: #FFC600;
}
.container #hero {
	background-image: url(images/001.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.container #about {
	background-image: -webkit-linear-gradient(270deg,rgba(245,222,179,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(245,222,179,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(245,222,179,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(245,222,179,1.00) 0.00%,rgba(255,255,255,1.00) 100%);
	text-align: center;
}
.container .banner {
	background-image: url(images/002.jpg);
}
.container #contact {
	background-image: url(images/003.jpg);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: cover;
}
.container #contact .button {
	background-color: #F5DEB3;
}
.container .copyright {
	background-color: #FFC600;
}
